// place your custom styles here
@font-face {
    font-family: 'pvzgFont';
    src: url('/fonts/FBUSV8C5EI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
#main-title {
    font-family: 'pvzgFont', serif;
}

#main-description {
    font-family: 'pvzgFont', serif;
}

.vp-card-container{
    font-family: 'pvzgFont', serif;
}