// place your custom styles here
@use 'sass:math';

@font-face {
    font-family: 'pvzgeFontEN';
    src: url('/fonts/FBU-ENGRU.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'pvzgFont';
    src: url('/fonts/FBUSV8C5EI.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'paris2024';
//     src: url('/fonts/Paris2024-Variable.woff2') format('woff2');
//     font-weight: 480;
//     font-style: normal;
// }

#main-title {
    font-family: 'Ma Shan Zheng', 'pvzgeFontEN', 'pvzgFont', serif;
}

#main-description {
    font-family: 'pvzgeFontEN', 'pvzgFont', "Noto Sans SC", "Arial", sans-serif;
}

.vp-card-container {
    font-family: "Noto Sans SC", "Arial", sans-serif;
}

.vp-site-name {
    font-family: 'Ma Shan Zheng', 'pvzgeFontEN', 'pvzgFont', serif;
}

div.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

iframe.youtube-video {
    margin: 8px 0;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vp-hero-info {
    display: block;
    text-align: center;

    .vp-hero-image {
        max-height: 200px;
        margin: 0 auto;
    }
}

#main-description {
    max-width: 100%;
}

// For Special Event

.vp-navbar {
    // background: linear-gradient(to right, #ffe0e9, #fff0e0, #fff9d9, #e0f8ef, #e0efff, #eee5ff);
    // background: linear-gradient(to right, #87CEEB, #F0E68C);
    background: url('/assets/texture/asfalt-light.png'),
        linear-gradient(to right, #A7BFE8, #6190E8);
}

[data-theme="dark"] .vp-navbar {
    // background: linear-gradient(to right, #8c232c, #995000, #9a8e00, #2a5c43, #125699, #4c1d73);
    // background: linear-gradient(to right, #00223A, #00768C);
    background: url('/assets/texture/asfalt-light.png'),
        linear-gradient(to right, #0B1C36, #4A4E69);
}


.vp-navbar::before {
    content: "🥮";
}

// .vp-hero-title {
//     background: linear-gradient(120deg, #e50000 30%, #ff8d00, #ffee00, #028121, #004cff, #770088 70%);
//     -webkit-background-clip: text;
//     background-clip: text;
// }