// you can change colors here
// $theme-color: #096dd9;
$font-family: '"Noto Sans SC", "Arial", sans-serif';
$vp-c-accent: (
    light: #08726c,
    dark: #65d8cf,
);
$vp-c-accent-bg: (
    light: #0a716c,
    dark: #168781,
);
$vp-c-accent-hover: (
    light: #065853,
    dark: #8ae6df,
);
$vp-c-accent-soft: (
    light: rgb(8 114 108 / 14%),
    dark: rgb(101 216 207 / 16%),
);
$vp-c-control: (
    light: #ffffff,
    dark: #000000,
);
$vp-c-control-hover: (
    light: #f0f0f0,
    dark: #333333,
);
